<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aquadminmovil.jcas.com.aquadminmovil" >

    <application
        android:name="com.jcas.utilerias.Global"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Configuraciones"
            android:label="@string/title_activity_configuraciones" >
        </activity>
        <activity
            android:name=".Buscar"
            android:label="@string/title_activity_buscar" >
        </activity>
        <activity
            android:name=".Sincronizar"
            android:label="@string/title_activity_sincronizar" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
